@charset "utf-8";
html {
	text-align:center;
}

body {
	
	text-align:center;
	font-size:12px;
	font-family:Tahoma,Helvetica,Arial,宋体,sans-serif;
	color:#000;
}
body a{
	color:#019bd9;
}
/*以下首页样式*/
.toolbar{
	background:#212121;         
	height:30px;
	font-size:12px;
	color:#FFF;
	line-height:30px;
}

.main {
	width:1240px;
	text-align:left;
	margin:0 auto;
	overflow:hidden;
}


.toolbar a{
	color:#FFF;
	margin:0px 0px 0px 10px;
}

.top{
	margin-bottom:10px;
	height:485px;
	position:relative;
}
.logo {
	background:url("../images/logo.png") no-repeat;
	height:102px;
	width:431px;
	position:absolute;
	top:15px;
	left:0px;
}

.sina{
	background:url(../images/sina.png) no-repeat center;
	width:62px;
	height:22px;
	position:absolute;
	top:38px;
	right:75px;
}
.tencent{
	background:url(../images/tencent.png) no-repeat center;
	width:62px;
	height:22px;
	position:absolute;
	top:75px;
	right:75px;
}

.micro{
	background:url(../images/micro.jpg) no-repeat center top;
	width:70px;
	height:70px;
	position:absolute;
	top:32px;
	right:0px;
}
.banner{
	background:url(../images/banner_sd.png) repeat-x bottom;
	padding-bottom:6px;
	position:absolute;
	top:170px;
	height:315px;
	margin-bottom:10px;
}
	
/*menu*/
.menu{
	border:1px solid #ddd;
}
.menu li{
	display:inline;
	float:left;

}
.menu li a{
	display:block;
	padding:4px 20px;
}
.menu li a.on{
	color:#f00;
	font-size:16px;
	font-weight:bold;
}


/*column*/
.column01{
	width:698px;
	float:left;
}
.column02{
	width:265px;
	float:right;
}
.column01 .block1{
	border:1px solid #e8e9e9;
	margin-bottom:10px
}


.block1_l{
	float:left;
	display:inline;
	width:49%;
}
.block1_r{
	float:right;
	display:inline;
	width:49%;
}
.title01{
	height:43px;
	background:url("../images/title-bg.png") no-repeat right;
}
.title01 .t_t{
	font-family:微软雅黑;
	float:left;
	color:#323232;
	font-size:18px;
	font-weight:bold;
	line-height:43px;
	margin-left:10px;
}
.title01 span{
	float:left;
	color:#c30000;
	font-size:12px;
	line-height:30px;
	padding-left:2px;
}
.title02{
	border-bottom:2px solid #e8e9e9;
	height:43px;
}
.title02 .t_t{
	font-family:微软雅黑;
	float:left;
	color:#323232;
	font-size:18px;
	font-weight:bold;
	line-height:43px;
	margin-left:10px;
}
.title02 span{
	float:left;
	color:#989898;
	font-size:12px;
	line-height:30px;
	padding-left:2px;
}
.title03{
	height:43px;
	padding:5px 0 0 5px;
}
.title03 .t_t{
	font-family:微软雅黑;
	float:left;
	color:#323232;
	font-size:18px;
	font-weight:bold;
	line-height:43px;
	margin-left:10px;
}
.title03 span{
	float:left;
	color:#989898;
	font-size:12px;
	line-height:30px;
	padding-left:2px;
}

.img01{
	width:271px;
	height:247px;
	float:left;
	margin:12px 0 12px 12px;
}

.list02 .img02{
	background:url("../images/img02.png") no-repeat;
	width:210px;
	height:145px;
	margin:12px 0 12px 8px;
}	

.list02 .title{	
	font-size:14px;
	font-weight:bold;
	padding-left:8px;
}
.list02 .readme{
	font-size:12px;
	padding-left:8px;
}
.list01 li{
	border-bottom:1px  dashed #e8e9e9;
	height:30px;
	line-height:30px;
	padding:0 0 0 15px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	margin:0 8px 0 8px;
}
.list01 a{
	background:url("../images/title-bg02.png") no-repeat left;
	padding-left:27px;
	width:9px;
	height:9px;

}
.list01 li.on{
	background-color:#e5f6ff;

}
.list02 li{
	float:left;
	display:inline;
	padding-left:10px;
	line-height:30px;
}
.list03 li{
	border-bottom: 1px dashed #E8E9E9;
	padding-left:20px;
	line-height:30px;
}
.list03 li span{
	float:left;
}
.list03 li .search{
	background:url("../images/search-bg.png") no-repeat center;
	height:30px;
	width:60px;
	float:right;
	margin-left:20px;
	padding-left:35px;
	line-height:30px;
	display:inline;
}
.list03 li .search a{
	color:#FFF;
}
.sidebar1{
	border:1px solid #e8e9e9;
	margin-bottom:10px;
}
.sidebar1-1{
	height:202px;
	overflow:hidden;
	position:relative;
	margin:6px 0 6px 0;
}
.weather{
	position: absolute;
    top:-22px;
	left:30px;
    width:165px;
}
.sidebar1_bg{
	background:url("../images/tel-bg.png") no-repeat center;
	width:265px;
	height:310px;
}
.sidebar1 .tel{
	background:url("../images/tel.png") no-repeat left;
	width:33px;
	padding:10px 0 10px 40px;
	margin:5px 0 0 15px;
}
.sidebar1 .email{
	background:url("../images/mail.png") no-repeat left;
	width:33px;
	line-height:22px;
	padding:6px 0 6px 40px;
	margin:0 0 0 15px;

}
.link{
	padding:2px 0 0 20px;
}
.line{
	
}
.list_img li{
	height:180px;
	border-bottom: 1px dashed #E8E9E9;
}
.list_img .img{
	float:left;
	width:200px;
}
.list_img img{
	border:1px solid #E8E9E9;
	width:200px;
	height:134px;
	margin:20px 0 10px 20px;
}
.list_img .info{
	width:450px;
	float:right;
}
.list_img .info .title{
	margin:20px 0 10px 0;
}
.list_img .info .readme{
	line-height:30px;
	padding-right:10px;
}
.list_text li{
	border-bottom: 1px dashed #E8E9E9;
}
.list_text .info02{
	padding-bottom:20px;
}
.list_text .info02 .title{
	margin:20px 0 10px 20px;
}
.list_text .info02 .readme{

	line-height:30px;
	padding:0 10px 0 20px;
}
.readme{
	color:#666;
}
.hot {
    background: url("../images/hot_bg.png") no-repeat scroll left center transparent;
    margin-top: 10px;
    padding-left: 50px;
	line-height:30px;
}
/*list样式*/

.crumb {    
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;    
    text-align: left;
}

.crumb .present {
    background: none repeat scroll 0 0 transparent;
    color: #646464;
    font-weight: bold;
    margin: 0 0 0 0px;
    padding: 0;
}

.crumb .home {
    background: none repeat scroll 0 0 transparent;
    padding-left: 0;
}

.crumb li {
    background: url("../images/bg_crumbli.gif") no-repeat scroll -10px center transparent;
    color: #019BD9;
    float: left;
    line-height: 35px;
    margin-left: 10px;
    padding-left: 12px;
}

.content{
	padding:15px;
	font-size:14.7px;
	line-height:30px;	
	}
.content .title{
	font-size:16px;
	color:#019bd9;
	font-size:14px;
	font-weight:bold;

	margin:10px 0 10px 0;
}

/*mycontent*/
.mycontent{
	font-size:14px;
	color:#333;
	border:1px solid #bbb;
	margin:20px 0;padding:10px;
	
}
.mycontent p, .table1 .mycontent p{
	color:#333;

}
.mycontent img{
	border:1px dotted #009999;
}

.list05 li{
	padding-left:20px;
	border-bottom: 1px dashed #E8E9E9;
	line-height:25px;

}
.list05 .depth0{
	line-height:30px;
}
.list05 .depth1{
	background:url("../images/bg_crumbli_red.gif") no-repeat 20px 2px;
	height:30px;
	padding-left:45px;
}
.list05 .depth1 a{
	color:#999;
}
/*底部样式*/
.f_menu{
	margin:25px 0 0 0;
	text-align:center;	
}
.f_menu a{
	font-size:12px;
	line-height:26px;
	color:#989898;
}
.f_menu em{
	padding:0 6px;
	color:#d9d9d9;
}
.foot{
	text-align:center;
	margin:6px 0 0 0;
	padding:0 0 6px 0;

}
.foot p{
	color:#999999;
	font-size:12px;
	margin:5px 0 10px 0;
	}
.foot p a{
	color:#999999;
}

/*tu0 添加表格*/
.table0 { width:100%; }
.table0 td {
	padding:8px;
	border:0;
	vertical-align:top;
	line-height:18px;
}
.table0 i { /**号*/
	font-style:normal;
	color:#f00;
	padding:0 3px;
}
.table0 p {
	padding:5px 0 0;
	color:#bbb;
}
.table0 img { vertical-align:middle; }
.table0 td td{padding:0} /*下面的td padding为0, 预览图时用到*/
/*tu1 列表*/
.table1 { width:100%; }
.table1 th {
	padding:8px 5px;
	font-weight:bold;
	background:#f6f6f6;
	border:1px solid #fff;
	border-bottom:1px solid #b7d8ff;
	color:#000;
}
.table1 td {
	padding:8px 5px;
	vertical-align:top;
	border:1px solid #fff;

	border-bottom:1px solid #f0f0f0;
	line-height:18px;

}
.table1 tr.multiline td { line-height:18px; }
.table1 td.multiline { line-height:18px; }
.table1 tr.alt td { background-color:#fafafa; /*fafafa给所有偶数行加上背景色*/ }
.table1 tr.hover td { background-color:#e2e8f4; /*鼠标高亮行的背景色*/ }
.table1 p {
	padding:5px 0 0;
	color:#bbb;
}
.table1 a { text-decoration:underline; }
.table1 .label{
	font-weight:bold;
}
/*tu2*/
.table2 { width:100%; }
.table2 th {
	padding:8px 5px;
	font-weight:bold;
	background:#f6f6f6;
	border-bottom:1px solid #b7d8ff;
	color:#000;
}
.table2 td {
	padding:8px 5px;
	vertical-align:top;
	border:1px solid #f0f0f0;
	line-height:18px;
}
.table2 tr.multiline td { line-height:18px; }
.table2 td.multiline { line-height:18px; }
.table2 tr.alt td { background-color:#fafafa; /*fafafa给所有偶数行加上背景色*/ }
.table2 tr.hover td { background-color:#e2e8f4; /*鼠标高亮行的背景色*/ }

.table2 a { text-decoration:underline; }
/*tu3 布局用*/
.table3 { width:100%; }
.table3 th {
	padding:8px 5px;
	border:1px solid #f0f0f0;
	font-weight:bold;
	background:#f6f6f6;
	color:#000;
	text-align:center;
}
.table3 td {
	padding:8px 5px;
	vertical-align:top;
	border:1px solid #f0f0f0;
}
/*tu4 1px 的table*/
.table4 { width:100%; }
.table4 td {
	padding:5px;
	border:0;
	vertical-align:top;
	line-height:18px;
	border:1px solid #ddd;
}
/*tu5 没有线*/
.table5{
	width:100%;
}
.table5 td{
	padding:5px 0 5px 2px;
}



/*taskoperate*/
.taskoperate{
	height:24px;
	line-height:24px;
	background:url(../images/ico-edit.png) no-repeat #eee 5px center;
	padding:0 0 0 7px;
}
.taskoperate ul{
	margin:0 0 0 20px;
}
.taskoperate li{
	margin:0 10px 0 0;
	display:inline;
	
}

 

/*任务管理工具栏*/
.tasktoolbar {
	height:28px;
	line-height:28px;
	background:#eee;
	margin:0 0 7px 0;
	padding-left:7px;
}
.tasktoolbar li{
	display:inline;
	float:left;
	margin-right:10px;
}

/*searchbar*/
.searchbar{
	padding:10px 0;
}

