/_infomation/
/_test/

_temp/


/_cache/*
!/_cache/readme.txt


/_upload/files/*
!/_upload/files/readme.txt
/_upload/flash/*
!/_upload/flash/readme.txt
/_upload/images/*
!/_upload/images/readme.txt



/_style/style1


apilog/*

/w/log/

aspnet_client/
eg/
/test/
wen/
zback/
*.config
*.log
*.db
config.php
/demo/