body {
	margin:0;
	padding-top:74px;
	background:url(../images/bg_login.gif) repeat-x #34495A;
}
.main {
	text-align:center
}
.loginform {
	margin:0 auto;
	height:439px;
	width:743px;
	background:url(../images/bg_loginmain.gif) no-repeat;
	overflow:hidden;
}
.foot {
	display:none;
}
table {
	width:350px;
	margin-top:100px;
	text-align:left;
}
table th {
	padding-bottom:50px;
	font-weight:bold;
	font-size:14px;
	text-align:center;
}
.adsubmit {
	width:111px;
	height:31px;
	margin:15px 0 0 0;
	padding:0;
	background:url(../images/admin_login.png);
	border:0;
	cursor:pointer;
}
