@charset "utf-8";

/*css reset -end*/
/*网站css*/
/*===================================================================*/
html { height:100%; } /*remove bug*/
body {
	height:100%;
	color:#424041;
	font-size:12px;
	/*line-height:1;*/
	text-align:center;
	font-family:Tahoma,Helvetica,Arial,宋体,sans-serif;
}

a { color: #133db6; }
a:hover { color: #c60; }
a:focus { outline:none; }

a:link, a:visited { text-decoration:none; }
a:hover { text-decoration:underline; }