
/*Ajax Windown*/
/*Ajax - Begin*/
/*background*/
#bg {
	width:100%;
	background:#eee;
	position:absolute;
	top:0;
	left:0;
	z-index:499;
	FILTER: alpha(opacity=60); /*ie*/
	-moz-opacity: 0.6; /*ff*/
	opacity: 0.6; /*css3*/
}
/*overflow:scroll;*/
#edit, #reedit {
	display:none;
	position:absolute;
	background:url(../_images/shadow.png) no-repeat right bottom;
	text-align:left;
	z-index:501;
}
#edit .p, #reedit .p {
	position:relative;
	top:-5px;
	left:-5px;
	margin:0px 0px 0px 0px;
	padding:2px;
	background:#fff;
	border:1px solid #bbb;
	overflow:hidden;
}
/*半透明*/
.transparent{
	background:#000;
	FILTER: alpha(opacity=80); /*ie*/
	-moz-opacity: 0.8; /*ff*/
	opacity: 0.8; /*css3*/
}

.loading {
	padding:10px 150px 10px 40px;
}
/*overflow:scroll;*/
#reedit {
	z-index:600;
}
#edit .th, #reedit .th {
	border:1px solid #aaa;
	color:#333;
	margin-bottom:10px;
	padding-left:10px;
	font-weight:bold;
	font-size:12px;
	height:25px;
	line-height:25px;
	background:url(../_images/dialog_title.png) repeat-x;
	cursor:move;
}
/*
#edit div, #reedit div {
	margin-bottom:5px;
}
*/
#edit .info {
	clear:both;
	border-top:1px solid #aaa;
	padding:5px 0 0 5px;
}
#close, #reclose {
	padding:5px;
	text-align:right;
	position:absolute;
	right:5px;
	top:5px;
	border:1px solid #aaa;
}
#close:hover, #reclose:hover {
	display:block;
	background:#ccc;
}
#closeall {
	border-top:1px solid #aaa;
	margin-top:20px;
	text-align:right;
}
#closeall a {
	display:inline-block;
	position:relative;
	width:85px;
	border:1px solid #aaa;
	margin-top:3px;
	padding:3px;
	background:url(../_images/dialog_title.png) repeat-x;
	text-decoration:none;
	text-align:center;
}
/*success and error prompt*/
.ajaxinfo ul {
	padding:0 20px 10px 40px;
}
.ajaxinfo li {
	padding:5px 0 5px 10px;
	background:url(../_images/arrow1.gif) no-repeat left 8px;
}
.ajaxinfo li.h1 {
	padding-left:0;
	font-size:14px;
	font-weight:bold;
	color:#cc3333;
	background:none;
}

.ajaxinfo li.text {/*说明性文本*/
	padding:5px 0 5px 0px;
	background:none;
}
.dialogbody1 {
	margin:10px;
}
/*Ajax content - begin*/
.ac {
	margin:5px;
}
/*Ajax - End*/


/* ---------->>> jtip <<<---------------------------------------------------------------*/
.tipinfo a, .tipinfo a:active, .tipinfo a:visited {
	margin-left:2px;
	padding:0px 2px;
	/*background-color:#c00;*/
	font-weight:bold;
	font-size: 12px;
	color:#FE952E;
	text-decoration: none;
	border-bottom:1px Double #f00;
}
.tipinfo a:hover {
	color:#600;
	text-decoration: none;
}
#JT_arrow_left {
	background-image: url(../_images/tip/arrow_left.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	z-index:1001;
	left:-12px;
	height:23px;
	width:10px;
	top:-3px;
}
#JT_arrow_right {
	background-image: url(../_images/tip/arrow_right.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	z-index:1001;
	height:23px;
	width:11px;
	top:-2px;
}
#JT {
	position: absolute;
	z-index:1000;
	border: 2px solid #ccc;
	background-color: #fff;
}
#JT_copy {
	padding:7px;
	color:#333;
	text-align:left;
}
.JT_loader {
	background-image: url(../_images/tip/loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
	width:100%;
	height:12px;
}
#JT_close_left {
	background-color: #ccc;
	text-align: left;
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 2px;
	font-weight:bold;
}
#JT_close_right {
	background-color: #ccc;
	text-align: left;
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 2px;
	font-weight:bold;
}
#JT_copy p {
	margin:3px 0;
}
#JT_copy img {
	padding: 1px;
	border: 1px solid #ccc;
}
.j_tip {
	cursor:help;
}
/*j_hover*/
.j_hover { /*position:relative;
	z-index:1;
	display:inline;position:relative;
	background:url(../_images/bg_1.gif) no-repeat right 0;*/
}
/* 上下箭头,加一个类避免继承a的属性 */
.j_hover {
	padding-right:14px;
	background:url(../_images/bg_1.gif) no-repeat right 0;
}
.j_hover.hover {
	background-position:right -20px;
}
.hoverbody, .hoverbody2 {
	position:absolute;
	display:block;
	top:12px;
	padding:5px 10px 5px 5px;
	background:#eee;
	border:1px solid #ddd;
	z-index:1000;
	zoom:1;
}
.hoverbody {
	left:0;
}
.hoverbody2 {
	right:0;
}
.hoverbody p, .hoverbody2 p {
	display:block;
	white-space:nowrap;
	margin:0 0 0 0;
	padding:2px 5px;
	line-height:18px;
	border-bottom:1px dashed #ccc;
	text-align:left;
}
.hoverbody .dep0, .hoverbody2 .dep0 {
	font-weight:bold;
}
.hoverbody .dep1, .hoverbody2 .dep1 {
	padding-left:8px;
}

/*ajax选择分类*/
.selectclass li {
	display:inline;
	float:left;
	width:150px;
	height:20px;
	line-height:18px;
}
/*模拟下拉菜单提示*/
.j_select {
	background:url(../_images/bg_1.gif) no-repeat right 0;
}
/*弹出的上传框样式*/
.tabup {
	padding-left:20px;
	background:url(../_images/tab2.gif) repeat-x bottom;
	margin-bottom:12px;
	height:1%;
}
.tabup li{
	display:inline;
	float:left;
	width:120px;
	margin:0px;
	background:url(../_images/tab2.gif) no-repeat 0 0;
	text-align:center;
}
.tabup li a{
	display:block;
	margin-left:5px;
	padding:0 18px 0 13px;
	height:27px;
	line-height:27px;
	background:url(../_images/tab2.gif) no-repeat right 0;
	text-decoration:none;
}
.tabup li.on{
	background-position:0 -27px;
}
.tabup li.on a{
	background-position:right -27px;
	color:#000;
}

.confirm {
	padding:15px 0;
	border-top:1px solid #ddd;
}

/*====================================*/
/*选择操作*/
.seldo {
	position:relative;
}
.seldo dt {
	display:inline-block;	
	padding-right:10px;
	background:url(../_images/menu.gif) no-repeat right center;
	z-index:9;
}
.seldo dt.on{
	background:url(../_images/menu_up.gif) no-repeat right center;
}
.seldo dd {
	display:none;
	position:absolute;
	top:16px;
	left:-36px;
	padding:5px 7px 5px 5px;
	border:1px solid #bbb;
	background:#f5fafe;
	overflow:hidden;
	white-space:nowrap;
	z-index:10;
}
.seldo li {
	height:20px;
	line-height:20px;
	padding-left:8px;
	border-bottom:1px dashed #ddd;
	background:url(../_images/arrow2.gif) no-repeat left center;
	white-space:nowrap;
	text-align:left;
	color:#000;
}
.seldo li a { text-decoration:none; }
/*====================================*/

/*消除IE focus bug*/
.focusbug{
	position:absolute;
	top:-500px;
	left:0;
}



/*宽度*/
.pxsmall{width:300px;}
.pxmiddle{width:500px;}
.pxbig { width:750px; }


